<div class="content">
  <div *ngIf="!movieService.loading">
<!--    <div class="pagination">-->
<!--&lt;!&ndash;      <pagination-controls class="my-pagination"  (pageChange)="page = $event"></pagination-controls>&ndash;&gt;-->
<!--    </div>-->
    <app-pagination [(page)]="pageContent"></app-pagination>
    <div class="container">
      <!--      <pagination-controls (pageChange)="page = $event"></pagination-controls>-->
      <div
        *ngFor="let movie of movieService.stateMovie">
        <!--    {{movie.title}}-->
        <a [routerLink]="['/movie',movie.id]">
          <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" (click)="showIdMovie(movie.id)" alt="">
        </a>
      </div>
      <!--      <pagination-controls (pageChange)="page = $event"></pagination-controls>-->
    </div>
  </div>
  <div *ngIf="movieService.loading">
    <app-loader></app-loader>
  </div>
</div>
