<div class="content">
  <div *ngIf="!movieService.loading">
    <app-pagination></app-pagination>
    <div class="container">
      <div
        *ngFor="let movie of movieService.stateMovie">
        <a [routerLink]="['/movie',movie.id]">
          <ng-container *ngIf="movie.poster_path">
          <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" (click)="showIdMovie(movie.id)" alt="">
          </ng-container>
          <ng-container *ngIf="!movie.poster_path">
            <img src="https://xn--90aha1bhcc.xn--p1ai/img/placeholder.png" alt="нет фото">
          </ng-container>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="movieService.loading">
    <app-loader></app-loader>
  </div>
</div>
