body{
  background: rgba(0, 0, 0, 0.8)  url('../img/752715.jpg');
  width: 100vw;
  height: 100vh;
  background-blend-mode: darken;

  .container{
    display: flex;

    app-nav{
      flex: 1 1 10%;
    }

    .content{
      flex: 3 1 90%;
    }
  }
}


