.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  margin-top: 50px;
}

.pagination_container button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color .2s;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;

}

.pagination_container button.active {
  background-color: #f90;;
  color: white;
  font-size: large;
  border: 1px solid #7cbddb;
}

.pagination_container button.disabled {
  opacity: 0.2;
  background-color: lightgray;
}

.pagination_container button:hover:not(.active) {
  background-color: rgb(238, 238, 238);
}

@media (max-width: 767px) {
  .pagination_container button {
    width: 25px;
  }
  @media (max-width: 318px) {
    .pagination_container button {
      height: 20px;
      width: 20px;
      font-size: 10px;
    }
  }
}
