<div class="content">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <!--    <ng-container *ngFor="let nav of movieService.navList">&ndash;&gt;-->
    <div class="main-content-wrapper" >
            <ng-container *ngFor="let nav of movieService.navList">

      <a [routerLink]="['navigation', nav.name]" (click)="toggle($event)">{{nav.name}}</a>

                  </ng-container>
    </div>
    <!--    </ng-container>-->
  </div>
</div>
