<div class="content" *ngFor="let movie of movieService.oneMovie;let i=index">
  <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">
  <div class="description">
    <div class="description__exit" (click)="exit()">&#10008;</div>
    <div><span>Title :</span> {{movie.title}}</div>
    <div><span> Original title :</span> {{movie.original_title}}</div>

    <div><span>Genres :</span>
      <ng-container *ngFor="let genre of movieService.genresName">{{genre}},</ng-container>
    </div>
    <div><span>Overview :</span> {{movie.overview}}</div>
    <div><span>Release date :</span> {{movie.release_date}}</div>
  </div>
</div>
